backup/n8n_workflow_COCHING_AI_—_제품_수집_v1_Gemini+Claude.json
{
  "id": "5YRZrKRWAPG6C5JA",
  "name": "COCHING AI — 제품 수집 v1 Gemini+Claude",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "⏰ 30분 자동실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "70ca907c-85eb-41a0-b33c-770bea88083c",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "name": "▶ 수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        496
      ],
      "id": "5613b297-3755-4358-a6b9-04f97dcfb72d",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst now = new Date();\nconst cats = [\n  {gem:'face cream moisturizer', kr:'수분크림/페이스크림'},\n  {gem:'sunscreen SPF UV protection', kr:'선크림'},\n  {gem:'shampoo hair cleansing', kr:'샴푸'},\n  {gem:'facial cleanser face wash', kr:'클렌저'},\n  {gem:'body lotion body milk', kr:'바디로션'},\n  {gem:'toner skin tonic', kr:'토너/스킨'},\n  {gem:'lip balm lipstick lip care', kr:'립밤/립스틱'},\n  {gem:'foundation BB cream CC cream', kr:'파운데이션'},\n  {gem:'eye cream eye serum', kr:'아이크림'},\n  {gem:'sheet mask face mask pack', kr:'마스크팩'},\n  {gem:'conditioner hair treatment', kr:'컨디셔너'}\n];\nconst regions = ['korea','japan','usa','europe','china'];\nconst catIdx = Math.floor(Date.now()/1800000) % cats.length;\nconst regIdx = Math.floor(Date.now()/5400000) % regions.length;\nconst cat = cats[catIdx];\n\nreturn [{ json: {\n  category: cat.gem,\n  kr_name: cat.kr,\n  region: regions[regIdx],\n  batch_size: 10,\n  run_id: 'prod_' + now.toISOString().replace(/[:.]/g,'_'),\n  timestamp: now.toISOString()\n}}];\n"
      },
      "name": "⚙️ 수집 설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        400
      ],
      "id": "e22dfaea-cfc9-4e4a-ae76-b8e92411ed93",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst config = $('⚙️ 수집 설정').first().json;\n\n// 기존 수집 제품 제외\nlet existingProducts = [];\ntry {\n  const dbRows = $('📦 기존 제품 조회').all();\n  existingProducts = dbRows\n    .map(r => (r.json.brand_name || '') + ' ' + (r.json.product_name || ''))\n    .filter(n => n.trim().length > 2);\n} catch(e) {}\n\nconst excludeList = existingProducts.length > 0\n  ? '\\n\\nEXCLUDE these products (already in DB): ' + existingProducts.slice(0, 50).join(', ')\n  : '';\n\nconst prompt = `You are a cosmetic product database researcher.\nFind 10 REAL commercial cosmetic products.\n\nCategory: ${config.category} (${config.kr_name})\nRegion focus: ${config.region}\n${config.region === 'korea' ? 'Focus on K-beauty brands: Sulwhasoo, Laneige, COSRX, Innisfree, Dr.Jart+, Missha, Etude House, ROUND LAB, Anua, Torriden, Beauty of Joseon' : ''}\n${config.region === 'japan' ? 'Focus on J-beauty brands: Shiseido, SK-II, Hada Labo, Canmake, MUJI, Kose, Kanebo, DHC' : ''}\n${excludeList}\n\nFor EACH product provide:\n- brand_name: Brand name (English)\n- product_name: Full product name (English)\n- product_name_local: Local language name (Korean/Japanese/Chinese if applicable)\n- full_ingredients: Complete INCI ingredient list (comma separated, MUST be real from actual product label)\n- key_ingredients: Top 5 key active ingredients as JSON string\n- product_type: cream/serum/lotion/gel/foam/powder/liquid/stick/spray\n- target_skin_type: oily/dry/combination/sensitive/normal/all\n- ph_range: Estimated pH range (e.g. \"5.0-6.0\")\n- viscosity_type: water-thin/light/medium/thick/paste\n- country_of_origin, volume_ml, image_url, brand_website, notable_claims, launch_year\n- category: ${config.kr_name}\n\nCRITICAL: Only REAL products with REAL INCI ingredients from actual labels. JSON array only.`;\n\nconst geminiBody = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.4, maxOutputTokens: 16000 }\n});\n\nreturn [{ json: { geminiBody, run_id: config.run_id, category: config.kr_name }}];\n"
      },
      "name": "🔄 제품검색 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ],
      "id": "49f9aff8-7eae-4ed1-968f-c04c87184c77",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAXhVn-G1r9XuMDOm__AP_gt5Do9lrXHtk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "🌐 Gemini 제품검색",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        304
      ],
      "id": "bf807c9d-0d8c-42b2-a282-3cca059f1826",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nlet products = [];\n\ntry {\n  let text = '';\n  const c = input.candidates;\n  if (c && c.length > 0 && c[0].content && c[0].content.parts && c[0].content.parts.length > 0) {\n    text = c[0].content.parts[0].text || '';\n  }\n  if (!text) text = JSON.stringify(input);\n  const cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  try { products = JSON.parse(cleaned); } catch(e) {\n    const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n    if (m) { try { products = JSON.parse(m[0]); } catch(e2) {} }\n  }\n  if (!Array.isArray(products)) products = [products];\n} catch(e) {\n  return [{ json: { _skip: true, error: 'parse_failed: ' + e.message } }];\n}\n\nconst result = products.filter(p => p.brand_name && p.product_name).map(p => ({\n  json: {\n    brand_name: (p.brand_name || '').trim().substring(0, 255),\n    product_name: (p.product_name || '').trim().substring(0, 500),\n    product_name_local: (p.product_name_local || '').trim().substring(0, 500),\n    full_ingredients: (p.full_ingredients || '').trim(),\n    key_ingredients: typeof p.key_ingredients === 'string' ? p.key_ingredients : JSON.stringify(p.key_ingredients || []),\n    product_type: (p.product_type || '').trim(),\n    target_skin_type: (p.target_skin_type || 'all').trim(),\n    ph_range: (p.pH_range || p.ph_range || '').trim(),\n    viscosity_type: (p.viscosity_type || '').trim(),\n    country_of_origin: (p.country_of_origin || '').trim(),\n    retail_price_usd: parseFloat(p.retail_price_usd) || null,\n    volume_ml: String(p.volume_ml || ''),\n    image_url: (p.image_url || '').trim(),\n    brand_website: (p.brand_website || '').trim(),\n    notable_claims: (p.notable_claims || '').trim(),\n    launch_year: parseInt(p.launch_year) || null,\n    category: (p.category || '').trim(),\n    source: 'gemini_search',\n    collected_at: new Date().toISOString()\n  }\n}));\n\nif (result.length === 0) {\n  return [{ json: { _skip: true, reason: 'no_valid_products' } }];\n}\nreturn result;\n"
      },
      "name": "🔄 제품 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ],
      "id": "b813ea72-0a63-46a8-ac7f-8d74ad583482",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO product_master\n  (brand_name, product_name, product_name_local, category,\n   full_ingredients, key_ingredients, product_type, target_skin_type,\n   ph_range, viscosity_type, country_of_origin, retail_price_usd,\n   volume_ml, image_url, brand_website, notable_claims, launch_year,\n   source, collected_at)\nSELECT $1, $2, $3, $4, $5, $6::jsonb, $7, $8, $9, $10, $11,\n       $12::numeric, $13, $14, $15, $16, $17::integer, $18, $19::timestamp\nWHERE length($1) > 0 AND length($2) > 0\nON CONFLICT (brand_name, product_name)\nDO UPDATE SET\n  full_ingredients = COALESCE(NULLIF(EXCLUDED.full_ingredients, ''), product_master.full_ingredients),\n  key_ingredients = COALESCE(EXCLUDED.key_ingredients, product_master.key_ingredients),\n  image_url = COALESCE(NULLIF(EXCLUDED.image_url, ''), product_master.image_url),\n  ph_range = COALESCE(NULLIF(EXCLUDED.ph_range, ''), product_master.ph_range),\n  updated_at = NOW()",
        "options": {
          "queryReplacement": "={{ [$json.brand_name || '', $json.product_name || '', $json.product_name_local || '', $json.category || '', $json.full_ingredients || '', $json.key_ingredients || '[]', $json.product_type || '', $json.target_skin_type || 'all', $json.ph_range || '', $json.viscosity_type || '', $json.country_of_origin || '', $json.retail_price_usd || 0, $json.volume_ml || '', $json.image_url || '', $json.brand_website || '', $json.notable_claims || '', $json.launch_year || 0, $json.source || 'unknown', $json.collected_at || new Date().toISOString()] }}"
        }
      },
      "name": "💾 제품 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        304
      ],
      "id": "1847ea75-9bf7-4732-a434-113327025dc7",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id,brand_name,product_name,full_ingredients FROM product_master WHERE ph_value IS NULL OR viscosity_cp IS NULL ORDER BY id LIMIT 5",
        "options": {}
      },
      "name": "🔍 물성미확인 제품",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1568,
        304
      ],
      "id": "9d154cd9-41bc-4d2a-ab7f-c3bebfa68197",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all().filter(i => i.json.id && i.json.full_ingredients);\nif (items.length === 0) {\n  return [{ json: { _skip: true, reason: 'no_candidates' } }];\n}\n\nconst products = items.slice(0, 5).map(i => ({\n  id: i.json.id,\n  name: (i.json.brand_name || '') + ' ' + (i.json.product_name || ''),\n  ingredients: (i.json.full_ingredients || '').substring(0, 500)\n}));\n\nconst prompt = 'You are a cosmetic formulation scientist. Estimate physical properties for these products based on their ingredient lists.\\n\\nProducts:\\n' + JSON.stringify(products, null, 2) + '\\n\\nFor EACH product estimate:\\n1. ph_value: Estimated pH (number, e.g. 5.5)\\n2. viscosity_cp: Estimated viscosity in centipoise (number)\\n3. specific_gravity: Estimated specific gravity (number)\\n4. appearance: Visual description\\n5. texture: Texture description\\n6. shelf_life_months: Estimated shelf life in months (number)\\n7. storage_temp: Storage temperature recommendation\\n\\nJSON array with product id. No explanation.';\n\nconst geminiBody = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.2, maxOutputTokens: 4096 }\n});\n\nreturn [{ json: { geminiBody } }];\n"
      },
      "name": "🔄 물성분석 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        304
      ],
      "id": "6ddb9377-fdd8-4400-b499-958cf10e761b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAXhVn-G1r9XuMDOm__AP_gt5Do9lrXHtk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiBody }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "🌐 Gemini 물성분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        304
      ],
      "id": "a78d370f-0409-4204-aee2-4b298dae4821",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nif (input._skip) return [{ json: { _skip: true } }];\n\nlet results = [];\ntry {\n  let text = '';\n  const c = input.candidates;\n  if (c && c.length > 0 && c[0].content && c[0].content.parts && c[0].content.parts.length > 0) {\n    text = c[0].content.parts[0].text || '';\n  }\n  if (!text) text = '[]';\n  const cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  results = JSON.parse(cleaned);\n  if (!Array.isArray(results)) results = [results];\n} catch(e) {\n  return [{ json: { _skip: true, error: 'property_parse_failed' } }];\n}\n\nreturn results.filter(r => r.id || r.product_id).map(r => ({\n  json: {\n    product_id: r.id || r.product_id,\n    ph_value: parseFloat(r.ph_value) || null,\n    viscosity_cp: parseFloat(r.viscosity_cp) || null,\n    specific_gravity: parseFloat(r.specific_gravity) || null,\n    appearance: (r.appearance || '').trim(),\n    texture: (r.texture || '').trim(),\n    shelf_life_months: parseInt(r.shelf_life_months) || null,\n    storage_temp: (r.storage_temp || '').trim()\n  }\n}));\n"
      },
      "name": "🔄 물성 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        304
      ],
      "id": "7f6b9c47-23e1-4573-991c-f96aa4635653",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE product_master SET ph_value=$2::numeric,viscosity_cp=$3::numeric,specific_gravity=$4::numeric,appearance=$5,texture=$6,shelf_life_months=$7::integer,storage_temp=$8,updated_at=NOW() WHERE id=$1::integer",
        "options": {
          "queryReplacement": "={{ [$json.product_id || 0, $json.ph_value || 0, $json.viscosity_cp || 0, $json.specific_gravity || 0, $json.appearance || '', $json.texture || '', $json.shelf_life_months || 0, $json.storage_temp || ''] }}"
        }
      },
      "name": "💾 물성 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2464,
        304
      ],
      "id": "1a1561ef-fb11-4743-996f-3b149bcf90f9",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Claude 분석 준비\nconst timestamp = new Date().toISOString();\nconst prompt = '최근 수집된 화장품 제품 전성분 검증 및 가이드처방 DB 연계 분석을 3문장으로 요약해줘.';\nreturn [{ json: { claudePrompt: prompt, timestamp } }];"
      },
      "name": "🧠 Claude 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        304
      ],
      "id": "b42e0f45-d617-49c2-ab18-166a9a78be3f",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=bash /home/kpros/claude_run.sh '{{ $json.claudePrompt }}' 60"
      },
      "name": "🧠 Claude 분석",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2912,
        304
      ],
      "id": "8fa15853-31d3-44bc-8d83-fcc73209d9c2",
      "alwaysOutputData": true,
      "credentials": {
        "sshPrivateKey": {
          "id": "uK4wQlmywxsEwHyU",
          "name": "Claude Code WSL2 SSH"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nconst config = $('⚙️ 수집 설정').first().json;\nlet analysis = {};\ntry { analysis = JSON.parse(input.stdout || '{}'); } catch(e) {\n  analysis = { raw: (input.stdout || input.stderr || '').substring(0, 500) };\n}\n\nreturn [{ json: {\n  run_id: config.run_id,\n  details: { claude_analysis: analysis, category: config.kr_name, region: config.region },\n  report: '✅ 제품 수집 완료',\n  timestamp: new Date().toISOString(),\n  next_run: new Date(Date.now() + 3*60*60*1000).toISOString()\n}}];\n"
      },
      "name": "📋 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        304
      ],
      "id": "e321252e-ffda-4dfc-8253-06b0872415a6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_log (workflow_name,run_id,status,details,created_at) VALUES ('product_collector_v1',$1,'completed',$2::jsonb,NOW())",
        "options": {
          "queryReplacement": "={{ [$json.run_id || 'unknown', JSON.stringify($json.details || {})] }}"
        }
      },
      "name": "💾 실행로그 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3360,
        304
      ],
      "id": "89dee230-5e6a-4a86-86c5-a2e0c085c94b",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{json:{report:'✅ 제품 수집 완료',timestamp:new Date().toISOString(),next_run:new Date(Date.now()+3*60*60*1000).toISOString()}}];"
      },
      "name": "📊 실행 리포트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        304
      ],
      "id": "14af4b20-a887-4bf1-bf7a-904db567b1e9",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT brand_name, product_name FROM product_master ORDER BY id",
        "options": {}
      },
      "id": "721ded21-2a7e-201c-b3f7-e91d58d3ef55",
      "name": "📦 기존 제품 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/1471000/CsmtcsMfcrtrInfoService01/getCsmtcsMfcrtrInfoList01",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "0edf36ef103c15b7c30cde7d113ff396fb83ebb0b6b0b6da3e5cbe95f32d9902"
            },
            {
              "name": "type",
              "value": "json"
            },
            {
              "name": "numOfRows",
              "value": "100"
            },
            {
              "name": "pageNo",
              "value": "={{ Math.floor(Date.now() / 10800000) % 329 + 1 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        496
      ],
      "id": "mfds-comp-http-001",
      "name": "🇰🇷 식약처 화장품업체"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst items = input.body?.items || [];\nif (!items.length) return [{ json: { skip: true } }];\n\nreturn items.filter(i => i.ENTP_NAME).map(i => ({\n  json: {\n    company_name: (i.ENTP_NAME || '').trim(),\n    business_type: (i.INDUTY || '').trim(),\n    representative: (i.BOSS_NAME || '').trim(),\n    address: (i.FACTORY_ADDR || '').trim(),\n    registration_date: (i.ENTP_PERMIT_DATE || '').trim(),\n    source: 'mfds_korea',\n    collected_at: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        496
      ],
      "id": "mfds-comp-code-001",
      "name": "🔄 식약처 업체 파싱"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cosmetics_company\n  (company_name, business_type, representative, address, registration_date, country_of_origin, source, collected_at)\nVALUES (\n  '{{ $json.company_name }}',\n  '{{ $json.business_type }}',\n  '{{ $json.representative }}',\n  '{{ $json.address }}',\n  '{{ $json.registration_date }}',\n  'korea',\n  'mfds_korea',\n  NOW()\n)\nON CONFLICT (company_name)\nDO UPDATE SET\n  business_type = COALESCE(NULLIF(EXCLUDED.business_type, ''), cosmetics_company.business_type),\n  representative = COALESCE(NULLIF(EXCLUDED.representative, ''), cosmetics_company.representative),\n  address = COALESCE(NULLIF(EXCLUDED.address, ''), cosmetics_company.address),\n  updated_at = NOW()",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        496
      ],
      "id": "mfds-comp-db-001",
      "name": "💾 식약처→제조사DB",
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      }
    }
  ],
  "connections": {
    "⏰ 3시간 자동실행": {
      "main": [
        [
          {
            "node": "⚙️ 수집 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ 수동 실행": {
      "main": [
        [
          {
            "node": "⚙️ 수집 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ 수집 설정": {
      "main": [
        [
          {
            "node": "📦 기존 제품 조회",
            "type": "main",
            "index": 0
          },
          {
            "node": "🇰🇷 식약처 화장품업체",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 제품검색 구성": {
      "main": [
        [
          {
            "node": "🌐 Gemini 제품검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Gemini 제품검색": {
      "main": [
        [
          {
            "node": "🔄 제품 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 제품 파싱": {
      "main": [
        [
          {
            "node": "💾 제품 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 제품 저장": {
      "main": [
        [
          {
            "node": "🔍 물성미확인 제품",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 물성미확인 제품": {
      "main": [
        [
          {
            "node": "🔄 물성분석 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 물성분석 구성": {
      "main": [
        [
          {
            "node": "🌐 Gemini 물성분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Gemini 물성분석": {
      "main": [
        [
          {
            "node": "🔄 물성 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 물성 파싱": {
      "main": [
        [
          {
            "node": "💾 물성 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 물성 저장": {
      "main": [
        [
          {
            "node": "🧠 Claude 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude 준비": {
      "main": [
        [
          {
            "node": "🧠 Claude 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude 분석": {
      "main": [
        [
          {
            "node": "📋 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 결과 정리": {
      "main": [
        [
          {
            "node": "💾 실행로그 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 실행로그 저장": {
      "main": [
        [
          {
            "node": "📊 실행 리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 기존 제품 조회": {
      "main": [
        [
          {
            "node": "🔄 제품검색 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🇰🇷 식약처 화장품업체": {
      "main": [
        [
          {
            "node": "🔄 식약처 업체 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 식약처 업체 파싱": {
      "main": [
        [
          {
            "node": "💾 식약처→제조사DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 30분 자동실행": {
      "main": [
        [
          {
            "node": "⚙️ 수집 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}