backup/n8n_workflow_COCHING_AI_—_원료_수집_v7_Gemini+Claude.json
{
  "id": "FW6GUTq0AzBXjJQ5",
  "name": "COCHING AI — 원료 수집 v7 Gemini+Claude",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "47721f99-ae60-cbec-0274-28e52ad7ca39",
      "name": "⏰ 30분 자동실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "3c78b355-02b2-693f-efdf-c51cba3a53a5",
      "name": "▶ 수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        592
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst now = new Date();\nconst batchId = 'batch_' + now.toISOString().replace(/[:.]/g,'_');\n\n// 6-topic rotation: 30분마다 다음 토픽, 3시간에 전 분야 1순환\nconst dayOfYear = Math.floor((now - new Date(now.getFullYear(),0,0)) / 86400000);\nconst halfHourSlot = now.getHours() * 2 + Math.floor(now.getMinutes() / 30);\nconst slot = (dayOfYear * 48 + halfHourSlot) % 6;\n\nconst topics = [\n  { name: '보습/연화 원료', prompt: '보습제(Humectant), 연화제(Emollient), 피부컨디셔닝제 — 글리세린, 히알루론산, 세라마이드, 스쿠알란, 시어버터 계열' },\n  { name: '유화/계면활성 원료', prompt: '유화제(Emulsifier), 계면활성제(Surfactant), 가용화제 — 폴리소르베이트, 세테아릴알코올, PEG 계열, 레시틴, 소르비탄에스터' },\n  { name: '방부/항산화 원료', prompt: '방부제(Preservative), 항산화제(Antioxidant) — 페녹시에탄올, 토코페롤, 아스코르빈산, 카프릴릴글라이콜, 에틸헥실글리세린, BHT' },\n  { name: '기능성 활성 원료', prompt: '미백성분(나이아신아마이드, 알부틴, 비타민C유도체), 주름개선성분(레티놀, 아데노신, 펩타이드), 자외선차단성분(옥틸메톡시신나메이트, 아보벤존, 징크옥사이드)' },\n  { name: '천연/식물 원료', prompt: '식물추출물(녹차, 알로에, 카모마일, 센텔라), 에센셜오일, 식물유(호호바, 아르간, 로즈힙), 천연유래 원료' },\n  { name: '제형/특수 원료', prompt: '점증제(카보머, 잔탄검), 점토(벤토나이트, 카올린), pH조절(시트르산, 트리에탄올아민), 향료, 색소(CI번호), 캡슐화/나노 원료' }\n];\n\nconst topic = topics[slot];\n\nreturn [{ json: {\n  batchId,\n  executionTime: now.toISOString(),\n  topicSlot: slot,\n  topicName: topic.name,\n  topicPrompt: topic.prompt,\n  batchSize: 50,\n  pubchemSize: 10,\n  enrichSize: 20\n}}];\n"
      },
      "id": "22450232-65ae-4cf8-7d02-c8b6ba991139",
      "name": "⚙️ 실행 설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        496
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT inci_name FROM ingredient_master ORDER BY id",
        "options": {}
      },
      "id": "df22f171-2488-4fc5-1f1a-c69d610096ac",
      "name": "📦 기존 원료 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst config = $('⚙️ 실행 설정').first().json;\n\n// 기존 수집된 원료 목록 가져오기 (이번 토픽 유형에 해당하는 것들)\nlet existingNames = [];\ntry {\n  const dbRows = $('📦 기존 원료 조회').all();\n  existingNames = dbRows\n    .map(r => r.json.inci_name)\n    .filter(n => n && n.length > 1);\n} catch(e) {}\n\nconst excludeList = existingNames.length > 0\n  ? `\\n\\n⚠️ 아래 원료는 이미 DB에 있으므로 반드시 제외하세요:\\n${existingNames.join(', ')}`\n  : '';\n\nconst prompt = `당신은 화장품 원료 데이터베이스 전문가입니다.\n오늘의 주제: **${config.topicName}** (${config.topicPrompt})\n\n이 카테고리에 해당하는 화장품 원료 ${config.batchSize}종의 정보를 JSON 배열로 제공해주세요.\n잘 알려진 기본 원료, 최신 트렌드 원료, 니치/특수 원료를 골고루 포함하세요.\n가능한 한 다양하고 폭넓은 원료를 선정하세요.${excludeList}\n\n각 원료 형식:\n[\n  {\n    \"inci_name\": \"INCI 국제 명칭 (영문, 정확한 공식명)\",\n    \"korean_name\": \"한국어 명칭\",\n    \"cas_number\": \"CAS 번호 (있으면)\",\n    \"ingredient_type\": \"HUMECTANT|EMOLLIENT|EMULSIFIER|PRESERVATIVE|ANTIOXIDANT|UV_FILTER|ACTIVE|SURFACTANT|THICKENER|COLORANT|FRAGRANCE|SOLVENT|PH_ADJUSTER|CHELATING|FILM_FORMER|OTHER 중 택1\",\n    \"origin\": \"NATURAL|SYNTHETIC|BIOTECHNOLOGY|MINERAL 중 택1\",\n    \"description\": \"원료 설명 (한국어, 100자 이내)\",\n    \"main_function\": \"화장품에서의 주요 기능 (한국어, 50자 이내)\"\n  }\n]\n\n중요:\n- INCI명은 공식 국제명칭 정확히 사용\n- CAS 번호가 확실하지 않으면 빈 문자열\n- 중복 없이 ${config.batchSize}종, 위 제외 목록과 겹치지 않게\n- JSON 배열만 반환하세요.`;\n\nconst geminiBody = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 16000 }\n});\n\nreturn [{ json: { geminiBody, batchId: config.batchId, topicName: config.topicName }}];\n"
      },
      "id": "0a8274b1-e58a-396c-9987-44bf66c7e795",
      "name": "🔄 원료수집 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAXhVn-G1r9XuMDOm__AP_gt5Do9lrXHtk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c666d63b-aa44-6716-ac47-441b1dcd61a7",
      "name": "🌐 Gemini 원료수집",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst config = $('⚙️ 실행 설정').first().json;\nconst updatedAt = new Date().toISOString();\nconst result = [];\n\ntry {\n  const resp = $input.first().json;\n\n  // Extract text from Gemini response — avoid optional chaining on arrays (n8n sandbox)\n  let text = '';\n  try {\n    const c = resp.candidates;\n    if (c && c.length > 0 && c[0].content && c[0].content.parts && c[0].content.parts.length > 0) {\n      text = c[0].content.parts[0].text || '';\n    }\n  } catch(e1) {}\n\n  if (!text && typeof resp === 'string') {\n    text = resp;\n  }\n  if (!text) {\n    text = JSON.stringify(resp);\n  }\n\n  // Extract JSON array from text (handles ```json ... ``` blocks)\n  let items = [];\n  const cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  try { items = JSON.parse(cleaned); } catch(e) {\n    const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n    if (m) { try { items = JSON.parse(m[0]); } catch(e2) {} }\n  }\n  if (!Array.isArray(items)) items = [];\n\n  const validTypes = ['HUMECTANT','EMOLLIENT','EMULSIFIER','PRESERVATIVE','ANTIOXIDANT',\n    'UV_FILTER','ACTIVE','SURFACTANT','THICKENER','COLORANT','FRAGRANCE',\n    'SOLVENT','PH_ADJUSTER','CHELATING','FILM_FORMER','OTHER'];\n  const validOrigins = ['NATURAL','SYNTHETIC','BIOTECHNOLOGY','MINERAL'];\n\n  for (const item of items) {\n    if (!item?.inci_name || item.inci_name.length < 2) continue;\n\n    const itype = validTypes.includes((item.ingredient_type||'').toUpperCase())\n      ? item.ingredient_type.toUpperCase() : 'OTHER';\n    const origin = validOrigins.includes((item.origin||'').toUpperCase())\n      ? item.origin.toUpperCase() : '';\n\n    result.push({ json: {\n      inci_name:       item.inci_name.trim().substring(0, 500),\n      korean_name:     (item.korean_name || '').substring(0, 200),\n      cas_number:      (item.cas_number || '').replace(/[^0-9-]/g, '').substring(0, 50),\n      ec_number:       '',\n      ingredient_type: itype,\n      description:     (item.description || '').substring(0, 2000),\n      origin:          origin,\n      main_function:   (item.main_function || '').substring(0, 500),\n      source:          'GEMINI_COLLECT',\n      updatedAt\n    }});\n  }\n} catch(e) {\n  result.push({ json: { _skip: true, reason: 'gem1_error: ' + e.message, updatedAt }});\n}\n\nif (result.filter(r => r.json.inci_name).length === 0 && result.filter(r => r.json._skip).length === 0) {\n  result.push({ json: { _skip: true, reason: 'gem1_no_data', updatedAt }});\n}\n\n// Add meta\nresult.push({ json: {\n  _meta: true,\n  stage: 'gem1',\n  count: result.filter(r => r.json.inci_name).length,\n  topic: config.topicName,\n  batchId: config.batchId,\n  updatedAt\n}});\n\nreturn result;\n"
      },
      "id": "14c4c425-a87b-86e3-09d1-e3b541682162",
      "name": "🔄 원료 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingredient_master\n  (inci_name, korean_name, cas_number, ec_number, ingredient_type, description, origin, source)\nSELECT $1, $2, $3, $4, $5, $6, $7, $8\nWHERE length($1) > 1\nON CONFLICT (inci_name, cas_number) DO UPDATE\n  SET korean_name = COALESCE(NULLIF(EXCLUDED.korean_name,''), ingredient_master.korean_name),\n      ingredient_type = COALESCE(NULLIF(EXCLUDED.ingredient_type,''), ingredient_master.ingredient_type),\n      description = COALESCE(NULLIF(EXCLUDED.description,''), ingredient_master.description),\n      origin = COALESCE(NULLIF(EXCLUDED.origin,''), ingredient_master.origin),\n      source = EXCLUDED.source",
        "options": {
          "queryReplacement": "={{ [$json.inci_name || '', $json.korean_name || '', $json.cas_number || '', $json.ec_number || '', $json.ingredient_type || '', $json.description || '', $json.origin || '', $json.source || 'GEMINI_COLLECT'] }}"
        }
      },
      "id": "3bdbf6e8-70c2-fdf2-588b-afea4244bfb4",
      "name": "💾 원료 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        944,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT im.id, im.inci_name, im.cas_number\nFROM ingredient_master im\nLEFT JOIN ingredient_properties ip ON ip.ingredient_id = im.id\nWHERE ip.id IS NULL\nORDER BY im.id LIMIT 10",
        "options": {}
      },
      "id": "382da15d-fcfa-571b-3973-cb5ae2223f76",
      "name": "🔍 물성 후보",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1168,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r.inci_name && !r._skip && !r._meta);\nconst config = $('⚙️ 실행 설정').first().json;\n\nif (rows.length === 0) {\n  return [{ json: { _skip: true, source: 'pubchem', reason: 'no_candidates' }}];\n}\n\n// PubChem can only handle one name at a time reliably\n// Take first N ingredients\nconst batch = rows.slice(0, config.pubchemSize);\nconst firstName = batch[0].inci_name;\n\nreturn [{ json: {\n  _type: 'pubchem_req',\n  lookupName: firstName,\n  allNames: JSON.stringify(batch.map(r => r.inci_name)),\n  candidateCount: batch.length,\n  batchId: config.batchId\n}}];\n"
      },
      "id": "f09883b5-7b33-d3d3-3c39-bbc8dd3b2be2",
      "name": "🔄 PubChem 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/{{ encodeURIComponent($json.lookupName) }}/property/MolecularFormula,MolecularWeight,IUPACName,CanonicalSMILES,XLogP,HBondDonorCount,HBondAcceptorCount,TPSA/JSON",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7287aa2c-53d0-a440-da9d-b5614937e36f",
      "name": "🔬 PubChem API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst updatedAt = new Date().toISOString();\nconst result = [];\n\ntry {\n  const resp = $input.first().json;\n  if (resp._skip) return [{ json: resp }];\n\n  const props = resp?.PropertyTable?.Properties || [];\n\n  for (const p of props) {\n    if (!p.CID) continue;\n    result.push({ json: {\n      _type:              'property',\n      pubchem_cid:        p.CID,\n      iupac_name:         (p.IUPACName || '').substring(0, 1000),\n      molecular_formula:  p.MolecularFormula || '',\n      molecular_weight:   parseFloat(p.MolecularWeight) || null,\n      canonical_smiles:   (p.CanonicalSMILES || '').substring(0, 2000),\n      xlogp:              parseFloat(p.XLogP) || null,\n      hbond_donor:        parseInt(p.HBondDonorCount) || null,\n      hbond_acceptor:     parseInt(p.HBondAcceptorCount) || null,\n      tpsa:               parseFloat(p.TPSA) || null,\n      source:             'PUBCHEM',\n      updatedAt\n    }});\n  }\n} catch(e) {}\n\nif (result.length === 0) {\n  result.push({ json: { _skip: true, source: 'pubchem', updatedAt }});\n}\nreturn result;\n"
      },
      "id": "c483f6ce-851c-9ecd-9fb8-35ff7551737c",
      "name": "🔄 물성 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingredient_properties\n  (ingredient_id, pubchem_cid, molecular_formula, molecular_weight,\n   iupac_name, canonical_smiles, xlogp, hbond_donor, hbond_acceptor, tpsa, source)\nSELECT im.id, $1::int, $2, $3::numeric, $4, $5, $6::numeric, $7::int, $8::int, $9::numeric, 'PUBCHEM'\nFROM ingredient_master im\nWHERE LOWER(im.inci_name) = LOWER($4) OR im.cas_number = $10\nLIMIT 1\nON CONFLICT (ingredient_id, source) DO UPDATE\n  SET pubchem_cid=EXCLUDED.pubchem_cid, molecular_formula=EXCLUDED.molecular_formula,\n      molecular_weight=EXCLUDED.molecular_weight, canonical_smiles=EXCLUDED.canonical_smiles,\n      xlogp=EXCLUDED.xlogp, tpsa=EXCLUDED.tpsa",
        "options": {
          "queryReplacement": "={{ [$json.pubchem_cid || 0, $json.molecular_formula || '', $json.molecular_weight || 0, $json.iupac_name || '', $json.canonical_smiles || '', $json.xlogp || 0, $json.hbond_donor || 0, $json.hbond_acceptor || 0, $json.tpsa || 0, ''] }}"
        }
      },
      "id": "8812c36a-a5ae-336c-2a77-bf63211d899a",
      "name": "💾 물성 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2064,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, inci_name, cas_number FROM ingredient_master\nWHERE id NOT IN (SELECT DISTINCT im.id FROM ingredient_master im\n  INNER JOIN regulation_cache rc ON rc.inci_name = im.inci_name)\nORDER BY id LIMIT 20",
        "options": {}
      },
      "id": "3ae7042e-7710-3c63-db84-8d2994b5c6e5",
      "name": "🔍 규제 후보",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2288,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r.inci_name && !r._skip && !r._meta);\nconst config = $('⚙️ 실행 설정').first().json;\n\nif (rows.length === 0) {\n  return [{ json: { _skip: true, source: 'gem2', reason: 'no_candidates' }}];\n}\n\nconst batch = rows.slice(0, config.enrichSize);\nconst list = batch.map((r, i) =>\n  `${i+1}. ${r.inci_name}${r.cas_number ? ' (CAS: '+r.cas_number+')' : ''}`\n).join('\\n');\n\nconst prompt = `아래 ${batch.length}개 화장품 원료의 규제/안전성 정보를 JSON 배열로 제공해주세요.\n\n${list}\n\n각 원료에 대해:\n[\n  {\n    \"inci_name\": \"원래 INCI명\",\n    \"typical_max_concentration\": \"일반적 최대 사용 농도 (%)\",\n    \"kr_regulation\": \"한국 식약처 고시/제한 내용\",\n    \"eu_regulation\": \"EU CosIng 규제 내용\",\n    \"safety_notes\": \"안전성 주의사항\",\n    \"ewg_score\": \"EWG 점수 (1-10, 모르면 null)\"\n  }\n]\nJSON 배열만 반환하세요.`;\n\nconst geminiBody = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.2, maxOutputTokens: 8000 }\n});\n\nreturn [{ json: { geminiBody, batchId: config.batchId }}];\n"
      },
      "id": "3d1353a5-7057-0c79-a473-a44a4ee01b73",
      "name": "🔄 규제수집 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAXhVn-G1r9XuMDOm__AP_gt5Do9lrXHtk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiBody }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "5fc46f50-c7d2-1767-5e72-c915bcedf2dc",
      "name": "🌐 Gemini 규제수집",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst updatedAt = new Date().toISOString();\nconst result = [];\n\ntry {\n  const resp = $input.first().json;\n  if (resp._skip) return [{ json: resp }];\n\n  let text = '';\n  try {\n    const c = resp.candidates;\n    if (c && c.length > 0 && c[0].content && c[0].content.parts && c[0].content.parts.length > 0) {\n      text = c[0].content.parts[0].text || '';\n    }\n  } catch(e1) {}\n  if (!text && typeof resp === 'string') text = resp;\n  if (!text) text = JSON.stringify(resp);\n  const cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  let items = [];\n  try { items = JSON.parse(cleaned); } catch(e) {\n    const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n    if (m) { try { items = JSON.parse(m[0]); } catch(e2) {} }\n  }\n  if (!Array.isArray(items)) items = [];\n\n  for (const item of items) {\n    if (!item?.inci_name) continue;\n    result.push({ json: {\n      _type:             'regulation_enrichment',\n      inci_name:         item.inci_name.trim(),\n      max_concentration: (item.typical_max_concentration || '').substring(0, 50),\n      kr_regulation:     (item.kr_regulation || '').substring(0, 500),\n      eu_regulation:     (item.eu_regulation || '').substring(0, 500),\n      safety_notes:      (item.safety_notes || '').substring(0, 500),\n      ewg_score:         item.ewg_score || null,\n      updatedAt\n    }});\n  }\n} catch(e) {}\n\nif (result.length === 0) {\n  result.push({ json: { _skip: true, source: 'gem2', updatedAt }});\n}\nreturn result;\n"
      },
      "id": "601028de-e903-ff1a-ef70-b790055e6358",
      "name": "🔄 규제 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingredient_master\nSET description = COALESCE(description,'') || ' [안전성: ' || $1 || ']'\nWHERE LOWER(inci_name) = LOWER($2)",
        "options": {
          "queryReplacement": "={{ [($json.safety_notes || '').substring(0,200), $json.inci_name || ''] }}"
        }
      },
      "id": "0c5e0cfc-f9d4-c87e-da54-d935c3b6d0f6",
      "name": "💾 규제→원료",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3184,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst result = [];\nconst updatedAt = new Date().toISOString();\n\nfor (const item of items) {\n  const d = item.json;\n  if (d._type !== 'regulation_enrichment') continue;\n\n  const safeId = d.inci_name.toLowerCase().replace(/[^a-z0-9]/g,'_').substring(0,60);\n\n  // knowledge_base\n  result.push({ json: {\n    _kbType: 'knowledge',\n    id:       'reg_' + safeId,\n    category: 'INGREDIENT_REGULATION',\n    data:     JSON.stringify({\n      inci_name: d.inci_name, max_concentration: d.max_concentration,\n      kr_regulation: d.kr_regulation, eu_regulation: d.eu_regulation,\n      safety_notes: d.safety_notes, ewg_score: d.ewg_score\n    }),\n    search_key: d.inci_name.toLowerCase(),\n    version: 'v7'\n  }});\n\n  // regulation_cache (KR)\n  if (d.kr_regulation) {\n    result.push({ json: {\n      _kbType: 'regulation',\n      source: 'GEMINI_KR', ingredient: d.inci_name, inci_name: d.inci_name,\n      max_concentration: d.max_concentration || '', restriction: d.kr_regulation\n    }});\n  }\n  // regulation_cache (EU)\n  if (d.eu_regulation) {\n    result.push({ json: {\n      _kbType: 'regulation',\n      source: 'GEMINI_EU', ingredient: d.inci_name, inci_name: d.inci_name,\n      max_concentration: d.max_concentration || '', restriction: d.eu_regulation\n    }});\n  }\n}\n\nif (result.length === 0) {\n  result.push({ json: { _skip: true, source: 'gem2_kb' }});\n}\nreturn result;\n"
      },
      "id": "5ec2ec7e-131c-e5f2-06b0-ce1afe9ee038",
      "name": "🔄 KB 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        496
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO coching_knowledge_base (id, category, data, search_key, version, updated_at)\nVALUES ($1, $2, $3::jsonb, $4, $5, NOW())\nON CONFLICT (id) DO UPDATE SET data=EXCLUDED.data, search_key=EXCLUDED.search_key, version=EXCLUDED.version, updated_at=NOW()",
        "options": {
          "queryReplacement": "={{ [$json.id || 'skip_'+Date.now(), $json.category || '', $json.data || '{}', $json.search_key || '', $json.version || 'v7'] }}"
        }
      },
      "id": "98f58f42-8d01-66d3-cf6a-f2fad52e9a81",
      "name": "💾 지식 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3408,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO regulation_cache (source, ingredient, inci_name, max_concentration, restriction, updated_at)\nVALUES ($1, $2, $3, $4, $5, NOW())\nON CONFLICT ON CONSTRAINT uq_reg DO UPDATE\n  SET inci_name=EXCLUDED.inci_name, max_concentration=EXCLUDED.max_concentration,\n      restriction=EXCLUDED.restriction, updated_at=NOW()",
        "options": {
          "queryReplacement": "={{ [$json.source || 'UNKNOWN', $json.ingredient || '', $json.inci_name || '', $json.max_concentration || '', $json.restriction || ''] }}"
        }
      },
      "id": "69e2176e-8a5d-cf8b-f070-994f4988130a",
      "name": "💾 규제 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3408,
        592
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst config = $('⚙️ 실행 설정').first().json;\n\n// Count saved items\nlet masterCount = 0;\nlet propCount = 0;\nlet regCount = 0;\ntry { masterCount = $('💾 원료 저장').all().filter(i => i.json.inci_name).length; } catch(e) {}\ntry { propCount = $('💾 물성 저장').all().filter(i => i.json.pubchem_cid).length; } catch(e) {}\ntry { regCount = $('💾 규제 저장').all().filter(i => i.json.source).length; } catch(e) {}\n\n// Sample of saved ingredients\nlet samples = '';\ntry {\n  samples = $('💾 원료 저장').all()\n    .filter(i => i.json.inci_name)\n    .slice(0, 8)\n    .map(i => `- ${i.json.inci_name}: ${i.json.korean_name || '?'} (${i.json.ingredient_type || '?'})`)\n    .join(' | ');\n} catch(e) {}\n\nconst prompt = `COCHING 원료 DB 수집 v7 리포트 (배치: ${config.batchId}, 주제: ${config.topicName}). 원료 ${masterCount}건, 물성 ${propCount}건, 규제 ${regCount}건 처리. 샘플: ${samples || '없음'}. 3문장으로: 1)성과 2)품질 3)다음 수집 제안`;\n\nreturn [{ json: {\n  claudePrompt: prompt,\n  batchId: config.batchId,\n  topicName: config.topicName,\n  masterCount, propCount, regCount\n}}];\n"
      },
      "id": "9c95319b-f274-672d-6eae-7eb97c3dfda5",
      "name": "🧠 Claude 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=bash /home/kpros/claude_run.sh '{{ $json.claudePrompt.replaceAll(\"'\", \"\\\\'\").replaceAll(\"\\n\", \" \") }}' 60"
      },
      "id": "fe321aa9-a574-6139-d643-bddae7e70769",
      "name": "🧠 Claude 분석",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3632,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "sshPrivateKey": {
          "id": "uK4wQlmywxsEwHyU",
          "name": "Claude Code WSL2 SSH"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst prep = $('🧠 Claude 준비').first().json;\nconst raw = $input.first().json;\nconst insight = raw.stdout || raw.response || (typeof raw === 'string' ? raw : JSON.stringify(raw));\n\nreturn [{ json: {\n  _type: 'progress', source: 'GEMINI_COLLECT',\n  batchId: prep.batchId, processed: prep.masterCount, status: 'in_progress'\n}}, { json: {\n  _type: 'progress', source: 'PUBCHEM_PROPS',\n  batchId: prep.batchId, processed: prep.propCount, status: 'in_progress'\n}}, { json: {\n  _type: 'progress', source: 'GEMINI_ENRICH',\n  batchId: prep.batchId, processed: prep.regCount, status: 'in_progress'\n}}, { json: {\n  _type: '_report',\n  batchId: prep.batchId,\n  topicName: prep.topicName,\n  masterCount: prep.masterCount,\n  propCount: prep.propCount,\n  regCount: prep.regCount,\n  claudeInsight: (typeof insight === 'string' ? insight : '').substring(0, 2000)\n}}];\n"
      },
      "id": "324d8a1d-3f81-e730-d509-9a48cee0c5b6",
      "name": "📋 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO collection_progress (source, batch_id, processed_items, status)\nVALUES ($1, $2, $3::int, $4)\nON CONFLICT (source) DO UPDATE\n  SET batch_id=EXCLUDED.batch_id,\n      processed_items=collection_progress.processed_items + EXCLUDED.processed_items,\n      status=EXCLUDED.status, updated_at=NOW()",
        "options": {
          "queryReplacement": "={{ [$json.source || 'UNKNOWN', $json.batchId || '', $json.processed || 0, $json.status || 'in_progress'] }}"
        }
      },
      "id": "0782792d-291b-4818-aa10-17eafb1978a2",
      "name": "💾 진행 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4080,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet report = null;\nfor (const i of items) { if (i.json._type === '_report') { report = i.json; break; } }\nif (!report) report = { batchId: '?', masterCount: 0, propCount: 0, regCount: 0 };\n\nreturn [{ json: {\n  type: 'execution_report_v7',\n  batchId: report.batchId,\n  topicName: report.topicName || '',\n  masterCount: report.masterCount,\n  propCount: report.propCount,\n  regCount: report.regCount,\n  claudeInsight: report.claudeInsight || '',\n  reportedAt: new Date().toISOString()\n}}];\n"
      },
      "id": "dcaaf523-7b6c-18f9-79b4-383fb42d3be3",
      "name": "📊 실행 리포트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/1471000/CsmtcsIngdCpntInfoService01/getCsmtcsIngdCpntInfoService01",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "0edf36ef103c15b7c30cde7d113ff396fb83ebb0b6b0b6da3e5cbe95f32d9902"
            },
            {
              "name": "type",
              "value": "json"
            },
            {
              "name": "numOfRows",
              "value": "100"
            },
            {
              "name": "pageNo",
              "value": "={{ Math.floor(Date.now() / 10800000) % 217 + 1 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        592
      ],
      "id": "mfds-ingr-http-001",
      "name": "🇰🇷 식약처 원료성분"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst items = input.body?.items || [];\nif (!items.length) return [{ json: { skip: true } }];\n\nreturn items.filter(i => i.INGR_ENG_NAME).map(i => ({\n  json: {\n    inci_name: (i.INGR_ENG_NAME || '').trim(),\n    korean_name: (i.INGR_KOR_NAME || '').trim(),\n    cas_number: (i.CAS_NO || '').trim(),\n    description: (i.ORIGIN_MAJOR_KOR_NAME || '').trim(),\n    synonym: (i.INGR_SYNONYM || '').trim(),\n    source: 'mfds_korea'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        592
      ],
      "id": "mfds-ingr-code-001",
      "name": "🔄 식약처 원료 파싱"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingredient_master\n  (inci_name, korean_name, cas_number, description, source)\nSELECT '{{ $json.inci_name }}', '{{ $json.korean_name }}', '{{ $json.cas_number }}', '{{ $json.description }}', 'mfds_korea'\nWHERE length('{{ $json.inci_name }}') > 1\nON CONFLICT (inci_name)\nDO UPDATE SET\n  korean_name = COALESCE(NULLIF(EXCLUDED.korean_name, ''), ingredient_master.korean_name),\n  cas_number = COALESCE(NULLIF(EXCLUDED.cas_number, ''), ingredient_master.cas_number),\n  description = COALESCE(NULLIF(EXCLUDED.description, ''), ingredient_master.description),\n  updated_at = NOW()",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        496,
        592
      ],
      "id": "mfds-ingr-db-001",
      "name": "💾 식약처→원료DB",
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      }
    }
  ],
  "connections": {
    "⏰ 30분 자동실행": {
      "main": [
        [
          {
            "node": "⚙️ 실행 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ 수동 실행": {
      "main": [
        [
          {
            "node": "⚙️ 실행 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ 실행 설정": {
      "main": [
        [
          {
            "node": "📦 기존 원료 조회",
            "type": "main",
            "index": 0
          },
          {
            "node": "🇰🇷 식약처 원료성분",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 기존 원료 조회": {
      "main": [
        [
          {
            "node": "🔄 원료수집 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 원료수집 구성": {
      "main": [
        [
          {
            "node": "🌐 Gemini 원료수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Gemini 원료수집": {
      "main": [
        [
          {
            "node": "🔄 원료 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 원료 파싱": {
      "main": [
        [
          {
            "node": "💾 원료 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 원료 저장": {
      "main": [
        [
          {
            "node": "🔍 물성 후보",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 물성 후보": {
      "main": [
        [
          {
            "node": "🔄 PubChem 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 PubChem 구성": {
      "main": [
        [
          {
            "node": "🔬 PubChem API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔬 PubChem API": {
      "main": [
        [
          {
            "node": "🔄 물성 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 물성 파싱": {
      "main": [
        [
          {
            "node": "💾 물성 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 물성 저장": {
      "main": [
        [
          {
            "node": "🔍 규제 후보",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 규제 후보": {
      "main": [
        [
          {
            "node": "🔄 규제수집 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 규제수집 구성": {
      "main": [
        [
          {
            "node": "🌐 Gemini 규제수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Gemini 규제수집": {
      "main": [
        [
          {
            "node": "🔄 규제 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 규제 파싱": {
      "main": [
        [
          {
            "node": "💾 규제→원료",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 KB 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 KB 준비": {
      "main": [
        [
          {
            "node": "💾 지식 저장",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 규제 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 규제→원료": {
      "main": [
        [
          {
            "node": "🧠 Claude 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude 준비": {
      "main": [
        [
          {
            "node": "🧠 Claude 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude 분석": {
      "main": [
        [
          {
            "node": "📋 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 결과 정리": {
      "main": [
        [
          {
            "node": "💾 진행 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 진행 저장": {
      "main": [
        [
          {
            "node": "📊 실행 리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🇰🇷 식약처 원료성분": {
      "main": [
        [
          {
            "node": "🔄 식약처 원료 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 식약처 원료 파싱": {
      "main": [
        [
          {
            "node": "💾 식약처→원료DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}