backup/n8n_guide_v2.2_deployed.json
{
  "name": "COCHING AI — 가이드처방 생성기 v2.2 Claude Local",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "⏰ 4시간 자동실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        72
      ],
      "id": "61130fad-1441-4f2d-91e3-057be8d36e36"
    },
    {
      "parameters": {},
      "name": "▶ 수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        264
      ],
      "id": "ca3a68cb-583e-41e9-97e0-64150686c034"
    },
    {
      "parameters": {
        "jsCode": "// ===== 생성 대상 선정 (43 제형 × 5 피부 = 215 조합) =====\nconst productTypes = [\n  {key:'수분크림',cat:'기초화장',hints:'glycerin,hyaluronic acid,ceramide,squalane,보습'},\n  {key:'영양크림',cat:'기초화장',hints:'shea butter,jojoba oil,vitamin e,retinol,영양'},\n  {key:'에센스',cat:'기초화장',hints:'niacinamide,peptide,vitamin c,ferment,세럼'},\n  {key:'토너',cat:'기초화장',hints:'witch hazel,glycolic acid,AHA,BHA,화장수'},\n  {key:'로션',cat:'기초화장',hints:'glycerin,dimethicone,cetyl alcohol,로션,유연'},\n  {key:'아이크림',cat:'기초화장',hints:'caffeine,peptide,retinol,vitamin k,아이,주름'},\n  {key:'마사지크림',cat:'기초화장',hints:'mineral oil,beeswax,tocopherol,마사지'},\n  {key:'팩마스크',cat:'기초화장',hints:'kaolin,bentonite,charcoal,hydrogel,팩,마스크'},\n  {key:'바디로션',cat:'기초화장',hints:'shea butter,glycerin,mineral oil,바디,보습'},\n  {key:'바디크림',cat:'기초화장',hints:'cocoa butter,beeswax,lanolin,바디,크림'},\n  {key:'핸드크림',cat:'기초화장',hints:'glycerin,urea,allantoin,핸드,손'},\n  {key:'클렌징크림',cat:'기초화장',hints:'mineral oil,beeswax,emulsifier,클렌징'},\n  {key:'폼클렌저',cat:'세정',hints:'sodium laureth sulfate,cocamidopropyl betaine,foam,세정'},\n  {key:'바디워시',cat:'세정',hints:'sodium laureth sulfate,cocamidopropyl,바디워시'},\n  {key:'클렌징오일',cat:'세정',hints:'mineral oil,isopropyl myristate,polysorbate,클렌징오일'},\n  {key:'클렌징워터',cat:'세정',hints:'micelle,glycerin,panthenol,클렌징워터'},\n  {key:'액체비누',cat:'세정',hints:'potassium hydroxide,coconut oil,soap,비누'},\n  {key:'선크림',cat:'선케어',hints:'titanium dioxide,zinc oxide,UV filter,SPF,자외선'},\n  {key:'선로션',cat:'선케어',hints:'titanium dioxide,octinoxate,avobenzone,선로션'},\n  {key:'선스프레이',cat:'선케어',hints:'homosalate,octisalate,alcohol,선스프레이'},\n  {key:'선스틱',cat:'선케어',hints:'zinc oxide,beeswax,carnauba wax,선스틱'},\n  {key:'파운데이션',cat:'색조',hints:'iron oxide,silicone,dimethicone,titanium dioxide,파운데이션'},\n  {key:'메이크업베이스',cat:'색조',hints:'silicone,dimethicone,primer,베이스'},\n  {key:'페이스파우더',cat:'색조',hints:'talc,mica,silica,iron oxide,파우더'},\n  {key:'립스틱',cat:'색조',hints:'castor oil,beeswax,carnauba wax,iron oxide,립스틱'},\n  {key:'립글로스',cat:'색조',hints:'polybutene,mineral oil,tocopherol,립글로스'},\n  {key:'아이섀도',cat:'색조',hints:'mica,talc,iron oxide,titanium dioxide,아이섀도'},\n  {key:'마스카라',cat:'색조',hints:'beeswax,carnauba wax,iron oxide,마스카라'},\n  {key:'블러셔',cat:'색조',hints:'talc,mica,iron oxide,zinc stearate,블러셔,볼연지'},\n  {key:'샴푸',cat:'두발',hints:'sodium laureth sulfate,cocamidopropyl betaine,샴푸'},\n  {key:'컨디셔너',cat:'두발',hints:'cetrimonium chloride,behentrimonium,컨디셔너,린스'},\n  {key:'헤어트리트먼트',cat:'두발',hints:'keratin,argan oil,hydrolyzed protein,트리트먼트'},\n  {key:'헤어에센스',cat:'두발',hints:'dimethicone,cyclomethicone,argan oil,헤어에센스'},\n  {key:'헤어왁스',cat:'두발',hints:'beeswax,peg,pvp,헤어왁스,젤'},\n  {key:'헤어오일',cat:'두발',hints:'argan oil,jojoba oil,camellia oil,헤어오일'},\n  {key:'헤어토닉',cat:'두발',hints:'menthol,salicylic acid,biotin,헤어토닉,두피'},\n  {key:'향수',cat:'방향',hints:'alcohol denat,fragrance,linalool,limonene,향수'},\n  {key:'데오도란트',cat:'체취방지',hints:'aluminum chlorohydrate,triclosan,데오도란트'},\n  {key:'면도크림',cat:'면도',hints:'stearic acid,triethanolamine,glycerin,면도'},\n  {key:'네일폴리시',cat:'손발톱',hints:'nitrocellulose,tosylamide,acetyl tributyl citrate,네일'},\n  {key:'베이비로션',cat:'영유아',hints:'glycerin,allantoin,panthenol,베이비,아기'},\n  {key:'베이비오일',cat:'영유아',hints:'mineral oil,tocopherol,chamomile,베이비오일'},\n  {key:'치약',cat:'구강',hints:'sodium fluoride,calcium carbonate,sorbitol,치약'}\n];\nconst skinTypes = [\n  {key:'지성',eng:'oily'},{key:'건성',eng:'dry'},{key:'복합성',eng:'combination'},\n  {key:'민감성',eng:'sensitive'},{key:'중성',eng:'normal'}\n];\nconst total = productTypes.length * skinTypes.length;\nconst idx = Math.floor(Date.now() / 14400000) % total;\nconst pIdx = Math.floor(idx / skinTypes.length);\nconst sIdx = idx % skinTypes.length;\nconst p = productTypes[pIdx];\nconst s = skinTypes[sIdx];\nreturn [{json:{\n  product_type_kr: p.key, category: p.cat,\n  skin_type_kr: s.key, skin_type_eng: s.eng,\n  combo_key: p.key+'_'+s.key, ingredient_hints: p.hints,\n  total_combos: total, current_index: idx,\n  run_id: 'guide_'+Date.now(), timestamp: new Date().toISOString()\n}}];"
      },
      "name": "⚙️ 생성 대상 선정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        168
      ],
      "id": "1849e73a-be57-492e-88f6-db2493fda5a7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, combo_key, guide_data, formula_name FROM guide_cache WHERE combo_key = '{{ $json.combo_key }}' AND created_at > NOW() - INTERVAL '30 days' ORDER BY created_at DESC LIMIT 1",
        "options": {}
      },
      "name": "🔍 캐시 확인",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        168
      ],
      "id": "d68fac2f-1932-47d6-a000-9d623c8d271c",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cache = $input.all();\nconst config = $('⚙️ 생성 대상 선정').first().json;\nif (cache.length > 0 && cache[0].json.id) {\n  return [{json:{cache_hit:true,combo_key:config.combo_key,formula_name:cache[0].json.formula_name,message:'30일 이내 가이드 존재 - 스킵'}}];\n}\nreturn [{json:{cache_hit:false,product_type_kr:config.product_type_kr,category:config.category,skin_type_kr:config.skin_type_kr,combo_key:config.combo_key,ingredient_hints:config.ingredient_hints,run_id:config.run_id}}];"
      },
      "name": "🔀 캐시 히트?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        168
      ],
      "id": "dd04fc89-a7a5-4e7a-807d-9f19e9f4c2a0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.cache_hit }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "⚡ 생성 필요?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        168
      ],
      "id": "c0046133-d33e-4bcc-96f8-ae95803d82f8"
    },
    {
      "parameters": {
        "jsCode": "// ===== 원료 SQL WHERE절 미리 생성 =====\nconst config = $('🔀 캐시 히트?').first().json;\nconst hints = (config.ingredient_hints||'').split(',').map(h=>h.trim()).filter(h=>h.length>0);\nconst conditions = hints.map(h=>{\n  const safe = h.replace(/'/g,\"''\");\n  return \"(LOWER(inci_name) LIKE LOWER('%\"+safe+\"%') OR LOWER(description) LIKE LOWER('%\"+safe+\"%'))\";\n}).join(' OR ');\nconst sql = 'SELECT inci_name, korean_name, cas_number, description FROM ingredient_master WHERE inci_name IS NOT NULL AND ('+conditions+') ORDER BY RANDOM() LIMIT 50';\nreturn [{json:{ingredient_sql:sql,product_type_kr:config.product_type_kr,category:config.category,skin_type_kr:config.skin_type_kr,combo_key:config.combo_key,run_id:config.run_id}}];"
      },
      "name": "🔄 원료 SQL 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "c8c04c47-a8b3-4875-b3d1-1cd7e1d86f24"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.ingredient_sql }}",
        "options": {}
      },
      "name": "📦 원료 DB 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        0
      ],
      "id": "e13ad9f5-b841-42b4-bdd3-8723657cef60",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT inci_name, restriction, max_concentration, source FROM regulation_cache WHERE restriction IS NOT NULL AND restriction != '' ORDER BY RANDOM() LIMIT 30",
        "options": {}
      },
      "name": "📋 규제 DB 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1568,
        0
      ],
      "id": "360125f4-10e0-44e9-9128-d78fe65c5bb5",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT brand_name, product_name, full_ingredients FROM product_master WHERE LOWER(category) LIKE LOWER('%{{ $('🔄 원료 SQL 생성').first().json.product_type_kr }}%') OR LOWER(product_type) LIKE LOWER('%{{ $('🔄 원료 SQL 생성').first().json.product_type_kr }}%') ORDER BY RANDOM() LIMIT 3",
        "options": {}
      },
      "name": "📦 참조제품 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1792,
        0
      ],
      "id": "55f38c6b-a5e6-435e-b88c-941f59f0871b",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== Claude 프롬프트 (base64 + 참조제품 + claude -p만 사용) =====\nconst config = $('🔄 원료 SQL 생성').first().json;\nconst ingredients = $('📦 원료 DB 조회').all().map(i=>i.json);\nconst regulations = $('📋 규제 DB 조회').all().map(i=>i.json);\nconst refProducts = $('📦 참조제품 조회').all().map(i=>i.json);\n\nconst ingList = ingredients.map(i=>\n  i.inci_name+' ('+(i.korean_name||'-')+') CAS:'+(i.cas_number||'-')\n).join('\\n');\nconst regList = regulations.map(r=>\n  r.inci_name+': '+r.restriction+' (최대 '+(r.max_concentration||'미정')+')'\n).join('\\n');\n\nlet refSection = '';\nif (refProducts.length > 0) {\n  refSection = '\\n\\n[참조 시판 제품 (전성분 참고용)]\\n';\n  refProducts.forEach((p,i)=>{\n    refSection += (i+1)+'. '+(p.brand_name||'')+' '+(p.product_name||'')+'\\n';\n    refSection += '   전성분: '+((p.full_ingredients||'').substring(0,300))+'\\n';\n  });\n  refSection += '\\n위 시판 제품의 전성분 구성을 참고하되, 동일하지 않은 독창적 처방을 만들어줘.\\n';\n}\n\nconst prompt = '너는 화장품 처방 전문가야. 아래 조건에 맞는 가이드처방을 만들어줘.\\n\\n'\n  +'[처방 조건]\\n'\n  +'- 제품 유형: '+config.product_type_kr+' ('+config.category+')\\n'\n  +'- 대상 피부: '+config.skin_type_kr+'\\n\\n'\n  +'[사용 가능 원료 목록 (DB 기준 '+ingredients.length+'건)]\\n'+ingList+'\\n\\n'\n  +'[규제 정보 ('+regulations.length+'건)]\\n'+regList\n  +refSection+'\\n\\n'\n  +'반드시 아래 JSON 형식만 출력해. 다른 텍스트 없이 JSON만.\\n'\n  +'{\\n'\n  +'  \"product_type\": \"'+config.product_type_kr+'\",\\n'\n  +'  \"skin_type\": \"'+config.skin_type_kr+'\",\\n'\n  +'  \"formula_name\": \"처방명 한국어\",\\n'\n  +'  \"total_ingredients\": 숫자,\\n'\n  +'  \"phases\": [{\\n'\n  +'    \"phase\": \"A (수상)\",\\n'\n  +'    \"temperature\": \"70-75도\",\\n'\n  +'    \"ingredients\": [{\"inci_name\":\"성분명\",\"korean_name\":\"한국어명\",\"wt_percent\":배합비숫자,\"function\":\"기능\"}]\\n'\n  +'  }],\\n'\n  +'  \"total_wt_percent\": 100.00,\\n'\n  +'  \"estimated_ph\": 5.5,\\n'\n  +'  \"estimated_viscosity_cp\": 15000,\\n'\n  +'  \"process_steps\": [\"공정1\",\"공정2\"],\\n'\n  +'  \"quality_checks\": [\"체크1\"],\\n'\n  +'  \"notes\": \"특이사항\"\\n'\n  +'}\\n\\n'\n  +'규칙: 배합비 합계 반드시 100.00%. 규제 제한 농도 초과 금지. Phase별 온도/공정 포함. 현실 제조 가능한 처방.';\n\nconst promptB64 = Buffer.from(prompt,'utf-8').toString('base64');\n// 수정1: --output-format 제거, claude -p 만 사용\n// 수정2: head -c 50000 으로 변경\nconst command = 'cd /home/kpros && echo \"'+promptB64+'\" | base64 -d > /tmp/guide_prompt.txt && cat /tmp/guide_prompt.txt | /home/kpros/.npm-global/bin/claude -p 2>/dev/null | head -c 50000';\n\nreturn [{json:{\n  command, combo_key:config.combo_key,\n  product_type_kr:config.product_type_kr, skin_type_kr:config.skin_type_kr,\n  ingredient_count:ingredients.length, regulation_count:regulations.length,\n  ref_product_count:refProducts.length\n}}];"
      },
      "name": "🧠 Claude 프롬프트 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "dbbea16a-60f8-4d12-a6c5-f312512d6df9"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.command }}",
        "cwd": "/home/kpros"
      },
      "name": "🧠 Claude 처방 생성 (SSH)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2240,
        0
      ],
      "id": "86cd12f9-ca9c-4740-b674-df0359a8cff4",
      "credentials": {
        "sshPrivateKey": {
          "id": "uK4wQlmywxsEwHyU",
          "name": "Claude Code WSL2 SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== 파싱 & 검증 + 싱글쿼트 이스케이핑 =====\nconst input = $input.first().json;\nconst config = $('🧠 Claude 프롬프트 구성').first().json;\nlet guide = {};\ntry {\n  const stdout = (input.stdout||'').trim();\n  // JSON 블록 추출 (마크다운 코드블록 제거)\n  let jsonStr = stdout.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\n  const jsonMatch = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) { guide = JSON.parse(jsonMatch[0]); }\n  else { guide = JSON.parse(jsonStr); }\n} catch(e) {\n  guide = {\n    product_type:config.product_type_kr, skin_type:config.skin_type_kr,\n    formula_name:config.combo_key+' (파싱실패)',\n    raw_output:(input.stdout||'').substring(0,3000), parse_error:e.message\n  };\n}\n// 배합비 검증\nlet totalWt = 0;\nif (guide.phases) {\n  guide.phases.forEach(ph=>{\n    (ph.ingredients||[]).forEach(ing=>{ totalWt += parseFloat(ing.wt_percent)||0; });\n  });\n}\nconst guideJson = JSON.stringify(guide);\nconst guideEscaped = guideJson.replace(/'/g,\"''\");\nconst fileB64 = Buffer.from(guideJson,'utf-8').toString('base64');\nreturn [{json:{\n  combo_key:config.combo_key,\n  product_type_kr:config.product_type_kr, skin_type_kr:config.skin_type_kr,\n  guide_data_escaped:guideEscaped,\n  formula_name:(guide.formula_name||config.combo_key).replace(/'/g,\"''\"),\n  total_wt_percent:totalWt.toFixed(2),\n  wt_valid:Math.abs(totalWt-100)<0.1,\n  estimated_ph:guide.estimated_ph||null,\n  estimated_viscosity:guide.estimated_viscosity_cp||null,\n  has_error:!!guide.parse_error,\n  file_b64:fileB64\n}}];"
      },
      "name": "🔄 처방 파싱 & 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        0
      ],
      "id": "fb14ed60-725c-48e7-a730-896b177c967f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO guide_cache (combo_key,product_type,skin_type,formula_name,guide_data,total_wt_percent,wt_valid,estimated_ph,estimated_viscosity,source,created_at) VALUES ('{{ $json.combo_key }}','{{ $json.product_type_kr }}','{{ $json.skin_type_kr }}','{{ $json.formula_name }}','{{ $json.guide_data_escaped }}'::jsonb,{{ $json.total_wt_percent }},{{ $json.wt_valid }},{{ $json.estimated_ph || 'NULL' }},{{ $json.estimated_viscosity || 'NULL' }},'claude_local',NOW()) ON CONFLICT (combo_key) DO UPDATE SET guide_data=EXCLUDED.guide_data,formula_name=EXCLUDED.formula_name,total_wt_percent=EXCLUDED.total_wt_percent,wt_valid=EXCLUDED.wt_valid,estimated_ph=EXCLUDED.estimated_ph,estimated_viscosity=EXCLUDED.estimated_viscosity,updated_at=NOW(),version=guide_cache.version+1",
        "options": {}
      },
      "name": "💾 가이드 캐시 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2688,
        192
      ],
      "id": "07706e7c-bd41-4fab-b255-4e64e61f147f",
      "credentials": {
        "postgres": {
          "id": "2c8e9119-0bb0-49f2-ad43-f040ab4a7a64",
          "name": "COCHING PostgreSQL (Local)"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'mkdir -p /home/kpros/COCHING/Coching-Cosmetic-AI-V1/ai-server/data/learning && echo \"' + $json.file_b64 + '\" | base64 -d > /home/kpros/COCHING/Coching-Cosmetic-AI-V1/ai-server/data/learning/' + $json.combo_key + '.json && echo LEARN_OK' }}",
        "cwd": "/home/kpros"
      },
      "name": "💾 학습파일 저장 (SSH)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2688,
        -192
      ],
      "id": "220fcc8b-917b-4f4b-9b3f-3b39b74acfb6",
      "credentials": {
        "sshPrivateKey": {
          "id": "uK4wQlmywxsEwHyU",
          "name": "Claude Code WSL2 SSH"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'mkdir -p /mnt/e/COCHING/backup/formulations && echo \"' + $json.file_b64 + '\" | base64 -d > /mnt/e/COCHING/backup/formulations/' + $json.combo_key + '.json && echo BACKUP_OK' }}",
        "cwd": "/home/kpros"
      },
      "name": "💾 백업 저장 (SSH)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2688,
        0
      ],
      "id": "85757cd3-6d20-4eea-b0a2-b4db307e9e26",
      "credentials": {
        "sshPrivateKey": {
          "id": "uK4wQlmywxsEwHyU",
          "name": "Claude Code WSL2 SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== 실행 리포트 =====\nconst cacheCheck = $('🔀 캐시 히트?').first().json;\nif (cacheCheck.cache_hit) {\n  return [{json:{\n    report:'⏭️ 캐시 히트 - 스킵',\n    combo_key:cacheCheck.combo_key,\n    formula_name:cacheCheck.formula_name,\n    action:'skipped', cost:'0원'\n  }}];\n}\nconst result = $('🔄 처방 파싱 & 검증').first().json;\nconst info = $('🧠 Claude 프롬프트 구성').first().json;\nreturn [{json:{\n  report:'✅ 가이드처방 생성 완료',\n  combo_key:result.combo_key,\n  formula_name:result.formula_name,\n  wt_valid:result.wt_valid,\n  total_wt:result.total_wt_percent+'%',\n  ph:result.estimated_ph,\n  viscosity:result.estimated_viscosity,\n  has_error:result.has_error,\n  ingredients_used:info.ingredient_count,\n  regulations_checked:info.regulation_count,\n  ref_products_used:info.ref_product_count,\n  action:'generated', cost:'0원 (Claude Code Max)',\n  saved:'guide_cache + data/learning/ + E:/backup/formulations/',\n  timestamp:new Date().toISOString(),\n  next_run:new Date(Date.now()+4*60*60*1000).toISOString()\n}}];"
      },
      "name": "📊 실행 리포트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        168
      ],
      "id": "7be95998-c32b-4b12-84c6-7eee1ade3ade"
    }
  ],
  "connections": {
    "⏰ 4시간 자동실행": {
      "main": [
        [
          {
            "node": "⚙️ 생성 대상 선정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ 수동 실행": {
      "main": [
        [
          {
            "node": "⚙️ 생성 대상 선정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ 생성 대상 선정": {
      "main": [
        [
          {
            "node": "🔍 캐시 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 캐시 확인": {
      "main": [
        [
          {
            "node": "🔀 캐시 히트?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 캐시 히트?": {
      "main": [
        [
          {
            "node": "⚡ 생성 필요?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ 생성 필요?": {
      "main": [
        [
          {
            "node": "🔄 원료 SQL 생성",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 실행 리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 원료 SQL 생성": {
      "main": [
        [
          {
            "node": "📦 원료 DB 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 원료 DB 조회": {
      "main": [
        [
          {
            "node": "📋 규제 DB 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 규제 DB 조회": {
      "main": [
        [
          {
            "node": "📦 참조제품 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 참조제품 조회": {
      "main": [
        [
          {
            "node": "🧠 Claude 프롬프트 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude 프롬프트 구성": {
      "main": [
        [
          {
            "node": "🧠 Claude 처방 생성 (SSH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude 처방 생성 (SSH)": {
      "main": [
        [
          {
            "node": "🔄 처방 파싱 & 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 처방 파싱 & 검증": {
      "main": [
        [
          {
            "node": "💾 가이드 캐시 저장",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 학습파일 저장 (SSH)",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 백업 저장 (SSH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 백업 저장 (SSH)": {
      "main": [
        [
          {
            "node": "📊 실행 리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}